.button
    align-self: flex-start
    margin-top: 20px
    width: 200px
    height: 40px
    background-color: $blue
    border: none
    font-weight: 500
    font-size: 18px
    color: #ffffff
    transition: 0.5s all
    &_center
        display: block
        margin: 0 auto
        margin-top: 30px
    &:hover
        background-color: $green
    &_login
        color: $blue
        background: none
        transition: 0.5s all
        font-weight: 700
        text-align: center
        margin-top: 10px
        cursor: pointer
        &:hover
            color: $green